body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Primary Styles
---------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/***********
* Navigations 
************/

.bg-light {

  background-color: #fff!important;
}

.navbar-custom {
  background-color: #fff;
  border-color: transparent;
}

.navbar {
  margin-bottom: 0px;
  min-height: 60px;
}

.navbar-brand>img {
  width: 165px;
}

.nav>li>a {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

@media (min-width: 768px) {

  .navbar {
    margin-bottom: 0px;
    min-height: 90px;
  }

  .navbar-brand>img {
    width: 100%;
  }

  .navbar-right {
    padding-top: 20px;
  }

  .nav>li {
    padding-left: 70px;
  }
}

nav.navbar.shrink {

  min-height: 50px;

  .navbar-brand {
    font-size: 25px;
  }

  a {
    font-size: 15px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }

  img{
    height: 20px;
  }

  .navbar-toggle {
    margin: 8px 15px 8px 0;
    padding: 4px 5px;
  }
}

/*************
    Header
**************/

header.masthead {
  position: relative;
  background-color: #343a40;
  background-image: url('../img/bd.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  padding: 80px 0;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0.3; 
  background-color: #212529;
}

header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  top: 50%;
  color: #fff;
}

header.masthead h1 {
  font-size: 2rem; 
}

@media (min-width: 768px) {

  header.masthead {
    padding: 130px 0; 
  }
  
  header.masthead h1 {
    font-size: 3rem; 
  } 
}


/***********
*  Aside
************/

.aside {
  background-color: #0086bc;
  padding: 25px 0;
  color: #fff;
}

/***********
*  Sections
************/

.servcie {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  .service {
    padding: 100px 0;
  }
}

.bg-light-gray {
  background-color: #eeeeee;
}

#special .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#special .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#special .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(2, 3, 90, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#special .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#special .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#special .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#special .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#special .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#special .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#special .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#special .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#special * {
  z-index: 2;
}
@media (min-width: 767px) {
  #special .portfolio-item {
    margin: 0 0 30px;
  }
}

#special .portfolio-item .esme {
  background-color: #32a6ed;
  color: white;
}

/***************
  Features
****************/

.showcase .showcase-text {

  padding: 3rem; 
}

.showcase .showcase-img {

  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {

  .showcase .showcase-text {
    padding: 7rem; 
  } 
}

footer {
  background-color: black;
  color: white;
}